

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :event_name %><br>
    <%= form.text_field :event_name %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :time %><br>
    <%= form.datetime_field :time %>
  </p>
  <p>
    <%= form.submit 'Create Event' %>
  </p>
<% end %>
